:root {
    --component-sidebar-bg: var(--my-background, #262C3C) !important;
}

.dark {
    --bg-primary: color-mix(in srgb, var(--my-background) 70%, black);
}

:is(.Ejxyja_threadFooterContentFade, .Ejxyja_threadFooterExtendedContentFade)::after {
    -webkit-mask-image: none !important;
    mask-image: none !important;
    background: none !important;
}
