:root {
    --component-sidebar-bg: var(--my-background, #262C3C) !important;
}

.dark {
    --bg-primary: var(--secondary) !important;
}

.user-message-bubble-color,
.dark [data-composer-surface="true"],
.popover {
    background-color: var(--secondary) !important;
}

:is(.Ejxyja_threadFooterContentFade, .Ejxyja_threadFooterExtendedContentFade)::after {
    -webkit-mask-image: none !important;
    mask-image: none !important;
    background: none !important;
}

html.dark :not(:where(.light, .light *)) {
    --main-surface-primary: var(--secondary) !important;
}
