:root {
    --custom-background-color-dark: color-mix(in srgb, var(--custom-background-color) 70%, black);
    --custom-background-color-light: color-mix(in srgb, var(--custom-background-color) 95%, white); 
}

body {
    background-color: var(--custom-background-color, #1E222F) !important;
}