/* .tVu25, .vY {
    background-color: var(--my-background, #262C3C) !important;
}

body,
.a3s,
.ii.gt,
div[role="main"] {
    background-color: #262C3C !important;
} */

.nH, .gb_Td  {
    background-color: var(--my-background, #262C3C) !important;
}

tr:not(:first-of-type) {
    background-color: var(--secondary) !important;
}