.nH:first-of-type, .gb_Td  {
    background-color: var(--custom-background-color, #262C3C) !important;
}

.a98, .V8djrc, .ady {
    background-color: white  !important;
}

tr.zA {
    background-color: var(--custom-background-color-dark) !important;
}   