:root {
    --background-color-neutral-subtle: var(--secondary, #262C3C) !important;
    --background-color-base: var(--my-background, #262C3C) !important;
}

.mw-page-container, .vector-header, .bandeau-container {
    background-color: var(--my-background, #262C3C) !important;
}

.vector-sticky-pinned-container::after {
    background: none !important;
}

.cdx-text-input__input, 
.cdx-search-input__end-button,
figure {
    background-color: var(--secondary) !important;
}