:root {
    --background-color-neutral-subtle: var(--custom-background-color-dark, #262C3C) !important;
    --background-color-base: var(--custom-background-color, #262C3C) !important;
    --background-color-interactive: var(--custom-background-color-dark, #262C3C) !important
}

.mw-page-container, .vector-header, .bandeau-container {
    background-color: var(--custom-background-color, #262C3C) !important;
}

.vector-sticky-pinned-container::after {
    background: none !important;
}

.cdx-text-input__input, 
.cdx-search-input__end-button,
figure {
    background-color: var(--custom-background-color-dark) !important;
}